<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xpoliceservices.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".XPoliceServiceApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_appicon"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <service
            android:name=".services.SyncDataService"
            android:exported="false" />

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TermsAndConditionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ApplicationDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".XServiceManProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubServicesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ApplyServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EndUserProfileActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".ChangePasswordActivity"></activity>
    </application>

</manifest>